$font-family-strong: "Fraunces", serif;
$font-family-normal: "Montserrat", serif;

$primary-color-dark-green-hover: hsl(158, 42%, 18%);
$primary-color-dark-green: hsl(158, 36%, 37%);
$primary-color-cream: hsl(30, 38%, 92%);

$neutral-color-very-dark: hsl(212, 21%, 14%);
$neutral-color-dark-gray: hsl(228, 12%, 48%);
$neutral-color-white: hsl(0, 0%, 100%);

$font-weight-medium: 500;
$font-weight-bold: 700;

$font-size-paragraph: 0.875rem;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: $primary-color-cream;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

article {

    display: flex;
    flex-direction: column;
    background-color: $neutral-color-white;
    margin: 28px 16px;
    border-radius: 10px;

    @media screen and (min-width: 48em) {
        flex-direction: row;
        width: 600px;
        height: 450px;
        margin: 0;
    }

    .product-image {
        width: 100%;
        border-radius: 10px 10px 0 0;

        @media screen and (min-width: 48em) {
            border-radius: 10px 0 0 10px;
        }
    }

    .text-container {
        padding: 24px;

        @media screen and (min-width: 48em) {
            padding: 32px;
        }

        .product-type {
            display: inline-block;
            font-family: $font-family-normal;
            color: $neutral-color-dark-gray;
            font-size: 0.75rem;
            font-weight: $font-weight-medium;
            letter-spacing: 5px;
            text-transform: uppercase;
            margin-bottom: 12px;

            @media screen and (min-width: 48em) {
                margin-bottom: 20px;
            }
        }
    
        h1 {
            font-family: $font-family-strong;
            color: $neutral-color-very-dark;
            font-weight: 700;
            font-size: 2rem;
            line-height: 32px;
            margin-bottom: 16px;

            @media screen and (min-width: 48em) {
                margin-bottom: 24px;
            }
        }

        p {
            font-family: $font-family-normal;
            color: $neutral-color-dark-gray;
            font-weight: $font-weight-medium;
            font-size: $font-size-paragraph;
            line-height: 23px;
            margin-bottom: 24px;

            @media screen and (min-width: 48em) {
                margin-bottom: 29px;
            }
        }

        .price-container {
            display: flex;
            align-items: center;
            gap: 19px;
            margin-bottom: 20px;

            @media screen and (min-width: 48em) {
                margin-bottom: 30px;
            }

            .current-price {
                font-family: $font-family-strong;
                color: $primary-color-dark-green;
                font-weight: $font-weight-bold;
                font-size: 2rem;
                line-height: 32px;
            }

            .original-price {
                font-family: $font-family-normal;
                color: $neutral-color-dark-gray;
                font-weight: 500;
                font-size: 0.813rem;
                line-height: 23px;
                text-decoration: line-through;
            }
        }

        button {
            display: flex;
            justify-content: center;
            gap: 11.61px;
            width: 100%;
            padding: 15px 92px;
            border-radius: 8px;
            background-color: $primary-color-dark-green;
            color: $neutral-color-white;
            border: 0;
            font-family: $font-family-normal;
            font-weight: 700;
            cursor: pointer;
            transition: 0.3s;

            &:hover {
                background-color: $primary-color-dark-green-hover;
            }

            @media screen and (min-width: 48em) {
                padding: 15px 63px;
            }
        }
    }
}