@use 'reset';
@use 'base';

.card {
    max-width: 37.5rem;
    width: 100%;
    border-radius: 10px;
    background-color: base.$color-n3;

    @media screen and (min-width: 48rem) {
        display: flex;
    }

    &__img {
        border-top-left-radius: inherit;
        border-top-right-radius: inherit;

        @media screen and (min-width: 48rem) {
            border-top-left-radius: inherit;
            border-top-right-radius: 0;
            border-bottom-left-radius: inherit;
            flex: 0 0 50%;
        }
    }

    &__content {
        padding: clamp(1.5rem, 0.8rem + 2.5vw, 2rem) ;

        @media screen and (min-width: 48rem) {
            flex: 0 0 50%;
        }
    }

    &__tag {
        display: block;
        font-size: 0.75rem;
        letter-spacing: 0.42em;
        margin-bottom: 12px;
        text-transform: uppercase;
    }

    &__title {
        font-size: 2rem;
        margin-bottom: 16px;
    }

    &__description {
        line-height: 1.64;
        margin-bottom: 24px;
    }

    &__price-container {
        display: flex;
        align-items: center;
        gap: 19px;
        margin-bottom: 20px;
    }

    &__price {
        color: base.$color-primary;
        font-family: "Fraunces", serif;
        font-size: 2rem;
        font-weight: 700;
    }

    &__button {
        cursor: pointer;
        color: #FFFFFF;
        font-weight: 700;
        width: 100%;
        border-color: transparent;
        border-radius: 8px;
        background-color: base.$color-primary;
        padding: 1em 0;
        transition: 300ms;

        &:hover {
            background-color: base.$color-primary--hover;
        }
    }

    &__button-icon {
        display: inline-block;
        height: 100%;
        margin-right: 11.5px;
        vertical-align: middle;
    }
}