/* Box sizing rules */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body, h1, h2, h3, h4, p,
figure, blockquote, dl, dd {
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1, h2, h3, h4,
button, input, label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1, h2,
h3, h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input, button,
textarea, select {
  font-family: inherit;
  font-size: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px;
  background-color: hsl(30, 38%, 92%);
  color: hsl(228, 12%, 48%);
  font-family: "Montserrat", serif;
  font-size: 0.875rem;
  font-weight: 500;
}

h1, h2, h3 {
  color: hsl(212, 21%, 14%);
  font-family: "Fraunces", serif;
  font-weight: 700;
}

.card {
  max-width: 37.5rem;
  width: 100%;
  border-radius: 10px;
  background-color: hsl(0, 0%, 100%);
}
@media screen and (min-width: 48rem) {
  .card {
    display: flex;
  }
}
.card__img {
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
}
@media screen and (min-width: 48rem) {
  .card__img {
    border-top-left-radius: inherit;
    border-top-right-radius: 0;
    border-bottom-left-radius: inherit;
    flex: 0 0 50%;
  }
}
.card__content {
  padding: clamp(1.5rem, 0.8rem + 2.5vw, 2rem);
}
@media screen and (min-width: 48rem) {
  .card__content {
    flex: 0 0 50%;
  }
}
.card__tag {
  display: block;
  font-size: 0.75rem;
  letter-spacing: 0.42em;
  margin-bottom: 12px;
  text-transform: uppercase;
}
.card__title {
  font-size: 2rem;
  margin-bottom: 16px;
}
.card__description {
  line-height: 1.64;
  margin-bottom: 24px;
}
.card__price-container {
  display: flex;
  align-items: center;
  gap: 19px;
  margin-bottom: 20px;
}
.card__price {
  color: hsl(158, 36%, 37%);
  font-family: "Fraunces", serif;
  font-size: 2rem;
  font-weight: 700;
}
.card__button {
  cursor: pointer;
  color: #FFFFFF;
  font-weight: 700;
  width: 100%;
  border-color: transparent;
  border-radius: 8px;
  background-color: hsl(158, 36%, 37%);
  padding: 1em 0;
  transition: 300ms;
}
.card__button:hover {
  background-color: hsl(158, 42%, 18%);
}
.card__button-icon {
  display: inline-block;
  height: 100%;
  margin-right: 11.5px;
  vertical-align: middle;
}

/*# sourceMappingURL=main.css.map */
